.window_title {
  padding: 0px 4px;
}

.workspaces {
  padding: 0px 4px;
}

.workspace_button {
  border-radius: 35%;
  margin: 2px 1px;
  padding: 0px 3px;

  &.current {
    background: $mauve;
    color: $background;
  }

  &.empty {
    opacity: 0.5;
  }
}
