* {
  all: unset;
}

@import "./colors.scss";

* {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.basic-button {
  background: $background;

  &:hover {
    background: $foreground;
  }

  &:active {
    background: $mauve;
  }
}

.big-font {
  font-family: "FantasqueSansM Nerd Font Mono";
  font-size: 18px;
  font-weight: 900;
}

.border {
  background: $background;
  border: 2px solid $mauve;
  border-radius: 6px;
}

.colored {
  color: $mauve;
}

@import "./bar/bar.scss";
